<h1><%= @list.name %></h1>

<ul>
  <li>Rating: <strong><%= @list.rating %></strong></li>
  <li>Name: <strong><%= @list.name %></strong></li>
  <li>Overview: <strong><%= @list.overview %></strong></li>
</ul>

<%= link_to "Back to movie list", movie_path %>